/* #region ---------- CLASSES */

.container
{
    background-color: rgba(92, 43, 165, 0.5);
    max-width: calc(fit-content + 30px);
    margin-left: auto;
    margin-right: auto;
}

/* #endregion */

/* #region ---------- BUILT-IN */

body
{
    background-color: rgba(45, 0, 61, 1);   
}

/* #endregion */